.compliment {
    position: relative;
    padding: 1rem;
    background: #1a1a1a;
    border-radius: 0 0 2rem 0;
    overflow: hidden;
  }
  
  .line {
    position: absolute;
    background-color: #FF5B00;
    pointer-events: none;
  }
  
  .line-right {
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    border-bottom-right-radius: 2rem;
  }
  
  .line-left {
    top: 0;
    left: 0;
    height: 2px;
    width: 0;
    border-bottom-right-radius: 2rem;
  }
  