.tag-button {
    all: unset;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    width: fit-content;
    padding: 0.3rem 0.75rem;
  
    border-left: 1px solid;
    border-right: 1px solid;
    border-image-source: linear-gradient(180deg, #141414 0%, #C8C8C8 51.5%, #141414 100%);
    border-image-slice: 1;
  
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  
    border-radius: 999px / 50%;
 
    
    background-color: transparent;
    display: inline-block;
    white-space: nowrap;
  }
  
 