.wrapperH{
  overflow-x: hidden; 
  height: 450px;
  max-height:450px;
  position:relative; 
  z-index: 2000000;
}

.slider{
    display: flex; 
    gap:10px; 
    height:450px;
    max-height:450px;  
}


.card{
    min-width: 460px;
    height: 400px; 
    max-height:400px;
    border-radius: 8px;  
    color: #333;
    z-index:2000000;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* object-fit: cover; */
}