.wrapperH{
  overflow: hidden; 
  height: 300px;
  max-height:300px;
  position:relative; 
}

.slider{
    display: flex; 
    gap:1rem; 
    height:300px;
    max-height:300px;
}

.card {
    transition: transform 0.1s ease-out;
    transform-origin: center center;
      transition: transform 0.3s ease, opacity 0.3s ease;
  }

.card{
    min-width: 480px;
    height: 300px; 
    border-radius: 8px;  
    color: #333;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* object-fit: cover; */
}