.slider-outer-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slider-track {
  display: flex;
  height: 100%;
  width: fit-content;
}

.slider-item {
  flex: 0 0 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-item img {
  width: 60%;
  max-height: 70%;
  object-fit: contain;
  transition: transform 0.3s ease;
}
