.contact-us-container{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 90%;
    min-width:80%;
    gap:0.5rem;
    margin:0 auto;
    margin-bottom:12rem;
    padding:2.7rem 2.4rem;
}

.contact-us-heading{
    font-family: 'Armstrong';
    font-size: 4rem;
    line-height: 4rem; 
    max-width: 100%;
}

.contact-us-box{
    display:flex;
    gap:3rem;
    flex-wrap: no-wrap; 
    min-width:100%;
}

@media(max-width:1200px){
    .contact-us-box{
        flex-wrap:wrap;
    }
}

.contact-form{ 
    min-width:45%;
    display:flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center; 
}

.contactUsLine{
    margin-right:auto;
    margin-top:0;
}

.your-info{
    min-width:95%;
    display:flex;
    gap:1rem;
    flex-wrap: wrap; 
    max-width:100%;
}

.footer-input-div{ 
    position:relative;
    min-width: 134px;
    width:43%;
    flex-grow: 1;
}

.footer-input{
    background: rgba(255,255,255,0.1);
    border:none;
    padding:1rem 0.7rem;
    width:100%;
}

.form-textarea{
    width:100%;
    min-height: 150px; 
}

 

.send-mail{
    margin-left:auto;
}

.socials-container{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    gap:2rem;
}

.social-icons{
    display:flex;
    gap:1rem;
}

.social-divs{
    display:flex;
    gap:4rem;
    flex-wrap: wrap;
}

.social-divs div{
    min-width:40%;
}

.social-heading{
    font-family: 'Armstrong';
    font-size: 1.6rem;
    font-weight:100;
}

.social-example{
    font-size:0.8rem;
    display:flex;
    flex-direction: column;
    color:#A7A7A7;
}
  
  .footer-input-div::before,
  .footer-input-div::after {
    content: "";
    position: absolute;
    background-color: white;
  }
  
  .footer-input-div::before {
    width: 2px;
    height: 10px;
    top: -4px;
    left: -3px;
  }
  
  .footer-input-div::after {
    width: 10px;
    height: 2px;
    top: 0px;
    left:  -7px;
  }

.footer-textarea{
    min-width: 100%;
    max-width: 100%;
}

.footer-textarea textarea{
    resize: vertical; /* Allows vertical resizing only */
    width: 100%; /* Ensures it takes full width but can't be resized */
    max-width: 100%; /* Prevents horizontal stretching */
}


/* MOBILE */

.social-container-mobile{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.social-divs-mobile{
    display:flex;
    flex-direction: column;
    gap:2rem; 
}

.contact-mobile-line{
    margin-right:auto;
    max-width: 100%;

}


.contact-mobile-line img{

    max-width: 84%;
    margin:0 auto;
}

.contact-form-mobile{
    min-width:80%;
    max-width: 100%;
    display:flex;
    flex-direction: column;
    gap:3rem;
    justify-content: center;    
}

@media(max-width:1024px){
    .contact-us-heading{ 
        font-size: 2rem;
    }
}