
.navbar-list{
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    flex-direction: row;
  }
  
  /* remove default list styling  */
  .navbar-list li {
    list-style: none;
  }

  .logo { 
    width: 24vw;  /* Set a fixed width for logo */
    height: auto;  /* Automatically adjust the height based on the image */
  }
  
  .logo img {
    width: 100%;  /* Ensure the image takes up the full width */
    height: auto;  /* Maintain aspect ratio */
  }
  