.blog-item-container{
    width: 100%;
    min-height: 100vh;
    max-width: 100vw;
    padding: 0 7rem;
    padding-top: 6rem;
    background-image: url("/bg/about.png");
    background-position: top right; /* Positions image at the top-left */
    background-repeat: no-repeat; /* Prevents tiling */
    background-size: auto; /* Keeps original image size */
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.blog-content-box{
    display:flex;
    flex-direction: column;
    gap:2rem;
    max-width: 68vw;
    margin:0 auto; 
}

.blog-item-header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%; 
}

.blog-item-header-utils{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.blog-content-title{
    font-family: 'Armstrong';
    font-size: 4rem;
}

.blog-content-area{
    font-size: 1rem;
    text-align: left;
    width:100%;
}