

.project-header{ 
    min-width:96%;

}

/* Portfolio Container */
.portfolio-item-header-container{
    min-width:90%;
    display: flex;
    justify-content: space-between;
}

.portfolio-item-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 90svw;
  min-width: 90svw;
  padding-top: 1rem;
}

.project-box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 3rem;
}

.project-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 30svw;
}

.project-name,
.project-second-header {
  font-size: 3rem;
  font-family: "Armstrong";
}

.project-description,
.project-second-description {
  text-align: left;
}

.project-second-description {
  max-width: 70svw;
}

.portfolio-item-middle-list {
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: flex-start;
}

.might-like {
  font-family: "Armstrong";
  font-weight: 400;
  font-size: 3rem;
  line-height: 100%;
  letter-spacing: 0%;
  color:white;
}
