.share-on-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    gap:1rem;
}



.share-on-span{
    color:#808186;
    font-size: 1rem;
    font-family:'Armstrong';
}

.share-icons{
    display:flex;
    gap:0.3rem;
    align-items: center;
}

.share-icon-button{
    background: #FFFFFF1A;
    backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(5.6px);

    height:50px;
    width:50px;
    border:none;
}

.plus-button{
    position:relative;
}

.plus-button::before{
    content: '+';  
    color:white; 
    position:absolute;
    font-size:1rem;
    top:0;
    left:0;
    transform: translateX(-50%) translateY(-50%);
}