body { 
  min-width: 100svw;
  max-width: 100svw;
  display: flex;
  flex-direction: column;
  background-color: black;
  font-family: 'Helvetica Neue'; 
}
 
html, body {
  scrollbar-gutter: stable;
}


.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Makes it independent of container */
  top: 0;
  width: 100%;
  max-width: 100%;
  min-width: 0; /* Important: allow shrinking */
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(3px);
  padding: 10px 0;
  height: 80px;  
  padding-left:6rem;  
  max-width:100%;
}
body {
  container-type: inline-size;
  width: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 0; /* Important: allow shrinking */
}


.container { 
  width: 100%;
  max-width: 100%;
  min-width: 0; /* Important: allow shrinking */
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}
 

.testimonial-top, .testimonial-span, .caption-title, .our-projects-p,
.project-second-description,.project-description,
.about-landing-description, .blog-heading-description,
.blog-content-area, .services-landing-paragraph,
.about-us-landing-paragraph, .landing-portfolio-paragraph{
  text-align: center;
  font-family: 'Helvetica Neue';
  background: linear-gradient(92.49deg, #7C7C7C 0%, #FFFFFF 47.41%, #7C7C7C 94.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Makes the background visible through the text */
  background-clip: text;
  text-fill-color: transparent; /* Standard property, but -webkit- is more widely supported */

}
