body {
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: black;
  font-family: 'Helvetica Neue'; 
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Makes it independent of container */
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(3px);
  padding: 10px 20px;
  height: 100px; /* Adjust based on design */
  
}

.container {
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}


.testimonial-top, .testimonial-span, .caption-title, .our-projects-p,
.project-second-description,.project-description,
.about-landing-description, .blog-heading-description,
.blog-content-area{
  text-align: center;
  font-family: 'Helvetica Neue';
  background: linear-gradient(92.49deg, #7C7C7C 0%, #FFFFFF 47.41%, #7C7C7C 94.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Makes the background visible through the text */
  background-clip: text;
  text-fill-color: transparent; /* Standard property, but -webkit- is more widely supported */

}